
body {
    font-family: 'Arial', sans-serif;
    background-color: #5d5959;
    color: #f9fcfc;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}



img {
    width: 400px; 
    height: 450px; 
    border-radius: 50%; 
    margin: 0 auto; 
    margin-top: 1cm;
    display: block; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; 
}

img:hover {
    transform: scale(1.05); 
}

p {
    color: #f9fcfc; 
    font-size: 60px; 
    font-weight: bold; 
    margin-bottom: 20px; 
    font-family: Freestyle Script;
    text-align: center; 
    transition: transform 0.3s ease-in-out; 
}
p:hover {
    transform: scale(1.05); 
}
h2 {
    color: #f9fcfc;
    margin-left: 1cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition: transform 0.3s ease-in-out; 

}
h2:hover {
    transform: scale(1.05); 
}

ul {
    line-height: 1.6;
    text-align: justify;
    margin-left: 1in;
    margin-right: 1in;
    font-family: Arial Narrow;
    overflow-wrap: break-word; 
    border: 2px solid #3d3d3d; 
    padding: 10px; 
    border-radius: 8px; 
    background-color: #3d3d3d;
    box-shadow: 0 4px 8px rgba(82, 79, 79, 0.1); 
    transition: transform 0.3s ease-in-out; 
}
ul:hover {
    transform: scale(1.05); 
}

li {
    margin-right: 10in;
    transition: transform 0.3s ease-in-out; 

}

li:hover {
    transform: scale(1.05); 
}

a {
    line-height: 1.6;
    text-align: justify;
    color: #f9fcfc;
    margin-left: 1in;
    margin-right: 1in;
    font-family: Arial Narrow;
    overflow-wrap: break-word; 
    border: 2px solid #3d3d3d; 
    padding: 10px; 
    border-radius: 8px; 
    background-color: #3d3d3d;
    box-shadow: 0 4px 8px rgba(82, 79, 79, 0.1); 
    transition: transform 0.3s ease-in-out; 
}
a:hover {
    transform: scale(1.05); 
}


.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}